name: Push to Docker Hub

on:
  push:
    tags:
      - '*'

jobs:
  push:
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Generate meta data
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/rubocop
          tags: |
            type=ref,event=tag,priority=900
            type=match,pattern=ruby\d+\.\d+,priority=850
            type=match,pattern=\d+\.\d+.\d+,priority=800
      -
        name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      -
        name: Pull and Test
        run: |
          echo $'# frozen_string_literal: true\nputs "Hello world!"' > hello.rb
          docker run --rm -v ${PWD}:/app naoigcat/rubocop:${{ github.ref_name }} -a
